DROPLET_NAME=my-server
REGION=lon1
ADMIN_DOMAIN=ut-admin.yourdomain.com
WEBADMIN_PASSWORD=changeme
INGAME_ADMIN_PASSWORD=changeme

SPACE_NAME=my-space        # optional: DO Space with custom maps and plugins
SPACE_ACCESS_KEY=my-key    # required for map-add
SPACE_SECRET_KEY=my-secret # required for map-add
